/* main */

#mainContainer{
    width : 100%;
    height : 90vh;
    position: relative;
    background-color: lightgray;

}

#mainContainer>img{
    width: 100%;
    height: 100%;
}

.overlay{
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
}

.mainTextWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.mainText {
    text-align: center;
    color: white;
}

.mainText h1,
.mainText h2,
.mainText button {
    opacity: 0;
    animation: slideUp 0.9s ease-out forwards;
}

@keyframes slideUp {
    from {
        transform: translateY(40px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


.delay1 {
    animation-delay: 0.1s;
}

.delay2 {
    cursor: pointer;
    animation-delay: 0.45s;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0.5px solid gray;
}
